* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#heading {
    margin: auto;
    text-align: center;
    width: 100%;
}

#heading h2 {
    color: #353535;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Raleway;
}

#heading img {}

/* menu part*/
#menu-part {
    position: absolute;
    z-index: 99;
    margin-top: 20px;
}

.logo {
    width: 30%;
}

.logo a {
    padding: 20px 20px;
}

.menu-list {
    width: 70%;
}

.menu-list ul {
    list-style-type: none;

}

.menu-list ul li {
    float: left;
    padding: 25px 20px 0px;
    position: relative;
}

.menu-list ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    display: inline-block;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.menu-list ul li button {
    background: #744fa0;
    border-radius: 3px;
    border: 0;
    padding: 5px 12px;
    color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.menu-list ul li > a:hover{
    color: #744fa0;
}

.menu-list ul li button:hover {
    background: #fff;
    color: #744fa0;
}
.menu-list ul li > a:hover .menu-border{
    width: 18px;
    border-bottom: 1px solid #744fa0;
}

.menu-list ul li .dropdown-menu {
    position: absolute;
    margin-top: 50px;
    left: auto;
    width: 150px;
    background: #353535;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.menu-list ul li .dropdown-menu li {
    padding: 5px 40px 5px 10px;
    width: 100px;
   
}
.menu-list ul li .dropdown-menu li:hover{
    background: #fdfdfe;
}
.menu-list ul li .dropdown-menu li:hover a{
    color: #744fa0;
}
.menu-list ul li:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.fas {
    font-size: 15px;
    padding: 0px 5px;
}


/*banner part*/
#banner-part {
    background: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    padding: 200px 0px 100px 0px;
    position: relative;
}

.banner-content {
    width: 50%;
    margin-left: auto;
    text-align: right;
    margin-right: 65px;
}

.banner-content h1 {
    font-size: 56px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.banner-content h1 span {
    color: #744fa0;
}

.banner-content h2 {
    color: #fff;
    font-weight: 300;
    font-size: 32px;
    text-transform: capitalize;
}

.banner-content p {
    font-size: 14px;
    font-weight: 400;
    max-width: 500px;
    line-height: 24px;
    color: #fff;
    margin-left: auto;
}

.bottom-border {
    width: 200px;
    border: 1px solid #ddd;
    margin: 20px 0px;
    margin-left: auto;
}

.app-button {
    float: right;
    background: #744fa0;
    width: 190px;
    height: 60px;
    border-radius: 5px;
    text-align: left;
    margin: 10px;
    margin-top: 50px;
    transition: 0.3s;
    -webkit-transition: 0.3s;

}

.app-buutton i {
    font-size: 30px;
    float: left;
    width: 55px;
    height: 100%;
    font-size: 33px;
    color: #353535;
    text-align: center;
}

.app-button a {
    color: #fff;
}

.app-button i {
    font-size: 33px;
    float: left;
    text-align: center;
    padding: 14px 5px;
    width: 50px;
}

.app-button label {
    font-size: 14px;
    padding: 5px 0px;
    display: block;

}

.app-button p {
    font-size: 18px;
    font-weight: 700;
    line-height: 10px;
}

.bg-android {
    background: #f3f3f3;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.bg-android a {
    color: #353535;
}

.bg-android p {
    color: #353535;
}

.app-button:hover {
    background: #f3f3f3;
}

.app-button:hover a {
    color: #353535;
}

.app-button:hover p {
    color: #353535;
}

.bg-android:hover {
    background: #744fa0;
}

.bg-android:hover a {
    color: #f3f3f3;
}

.bg-android:hover p {
    color: #f3f3f3;
}

/*About part */
#about-part {
    padding: 100px 0px;
}

.about-content {
    text-align: center;
    width: 65%;
    margin-top: 45px;
}

.about-content p {
    font-size: 14px;
    color: #777;
    font-weight: 400;
    font-family: Raleway;
    max-width: 500px;
    margin: auto;
    line-height: 24px;
    padding: 17px 0px;
}

.about-img {
    width: 35%;
}

.about-img img {
    max-width: 350px;
}

/*features part*/
#features {
    padding: 30px 0px;
    background: #f1f1f1;
}

.features-left {
    margin-top: 50px;
    width: 35%;
    margin-left: 15px;
}

.fl-icon {
    display: table-cell;
    vertical-align: top;
}

.fl-icon i {
    font-size: 21px;
    color: #353535;
    margin-top: 12px;
}

.features-left ul {
    list-style-type: none;
}

.features-left ul li {}

.fl-items {
    display: table-cell;
    vertical-align: top;
}

.list {
    padding: 20px 0px;
    border-bottom: 1px solid #353535;
    margin-right: 155px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.list:hover {
    margin-right: 50px;
    color: #744fa0;
    border-bottom: 1px solid #744fa0;
}

.list:hover h3 {
    color: #744fa0;
}

.list:hover p {
    color: #744fa0;
}

.list:hover .fl-icon i {
    color: #744fa0;
}

.fl-items h3 {
    font-size: 18px;
    font-weight: 700;
    color: #353535;
    text-transform: uppercase;

    margin-left: 10px;
}

.fl-items p {
    font-size: 14px;
    font-weight: 400;
    color: #353535;

    margin-left: 10px;
}

.features-img {
    width: 30%;
    margin-left: 30px;
    margin-top: 50px;
}

.features-right {
    width: 35%;
    margin-top: 150px;
    text-align: right;
    max-width: 360px;
}

.features-right h2 {
    font-size: 18px;
    font-weight: 700;
    color: #353535;
    margin-bottom: 30px;
}

.features-right p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #353535;
    margin-top: 30px;
}

/*screenshot*/
#screenshot {
    padding: 50px 0px;
    margin: auto;
}

.screenshot-items {
    width: 20%;
    margin: auto;
    margin-top: 50px;
}

.screenshot-items img {
    width: 85%;
    margin: auto;
    display: block;
}

/*video part*/
#video-part {
    width: 100%;
    background: url(../images/vdo-bg.jpg);
    background-size: cover;
    background-attachment: fixed;

}

.vdo-icon {
    margin: auto;
    padding: 200px 0px;
}

.icon {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    text-align: center;
    margin: auto;
}

.icon i {
    font-size: 50px;
    margin-top: 20px;
    color: #fff;
}

.vdo-content {
    padding: 30px 0px;
}

/*price part*/
#price-part {
    padding: 100px 0px;
}

.price-items {
    width: 25%;
    position: relative;
    text-align: center;
    padding: 30px 20px;
    box-sizing: border-box;
}

.price-items ul {
    list-style-type: none;
}

.price-items h2 {
    font-size: 18px;
    font-weight: 700;
    color: #353535;
    padding: 20px 0px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.price-list {
    background: #f1f1f1;
    color: #353535;
    padding-bottom: 20px;
    border-radius: 15px;

}

.div-txt ul {
    padding: 20px 0px;
}

.div-txt li {
    margin: 10px 0px;
    font-size: 14px;
    font-weight: 400;
}

.div-icon {
    padding: 15px;
    background: #fff;
}

.price-value {
    width: 120px;
    height: 120px;
    border-radius: 90px;
    margin: auto;
    border: 3px solid #f1f1f1;
}

.price-value h4 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 9px;
}

.price-value span {
    font-size: 45px;
}

.price-value p {
    font-size: 14px;
    font-weight: 400;

}

.su-button a {
    position: absolute;
    font-size: 14px;
    font-weight: 700;
    padding: 6px 15px;
    color: #353535;
    border-radius: 3px;
    border: 1px solid #353535;
    background: transparent;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.price-list:hover h2 {
    background: #744fa0;
    color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.price-list:hover a {
    background: #744fa0;
    border: none;
    color: #fff;
    border: 1px solid #744fa0;
}

/*team part */

/*touch part */
#touch {
    padding: 100px 0px;
}

.form-field {}

.form-input {
    width: 33.33%;
}

.fields {
    padding: 17px 10px;
    border-radius: 10px;
    margin: 20px 8px;
    width: 350px;
    border: 1px solid #000;
    font-size: 14px;
}

.msg-field {
    width: 100%;
}

.msg {
    border: 1px solid #000;
    padding: 17px 10px;
    border-radius: 10px;
    width: 96.5%;
    height: 200px;
    resize: none;
    margin: 0px 10px;
    font-size: 18px;
}

.btn {
    margin: auto;
}

.submit {
    font-size: 18px;
    color: #fff;
    background: #744fa0;
    padding: 8px 26px;
    border: none;
    border-radius: 6px;
    margin-top: 15px;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid #744fa0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.submit:hover {
    background: #fff;
    color: #744fa0;
    border: 1px solid #744fa0;
}

/*footer part*/
#footer-part {
    padding: 30px 0px;
    background: #353535;
}

.footer {
    width: 70%;
    margin: auto;
    text-align: center;
}

.footer-icon {
    max-width: 335px;
    margin: auto;
}

.f-icon {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background: #f1f1f1;
    margin: 30px 8px;
    transition: 0.4s;
    -weblit-transition: 0.4s;
}

.f-icon:hover {
    background: #744fa0;
    color: #fff;
}

.f-icon:hover i {
    color: #fff;
}

.f-icon i {
    padding: 11px;
    font-size: 30px;
    text-align: center;
    color: #353535;
}

.footer-copyright p {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.footer-copyright p span {
    color: #744fa0;
    font-weight: 700;
}

/* team member part*/

#team-part {
    padding: 50px 0px;
}

.team-member {
    width: 33.33%;
}

.member {
    margin: 90px 20px;
    position: relative;
    border-radius: 15px;
}

.team-icon i:hover {
    background: #744fa0;
    color: #fff;
}

.member img {
    height: 100%;
    width: 99%;
    border-radius: 15px;
    position: relative;
    z-index: 1;
}

.member img:hover {
    border-radius: 0px 0px 0px 0px;
}

.team-icon {
    width: 345px;
    z-index: 1;
    position: absolute;
    top: 50%;
    text-align: center;
}

.member:hover .team-icon {
    padding: 50% 0px;
    top: 1px;
    bottom: 5px;
    left: 1px;
    right: 1px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.team-icon a {
    padding: 20px 10px;
}

.team-icon i {
    font-size: 25px;
    color: #000;
    height: 35px;
    width: 45px;
    padding-top: 10px;
    border-radius: 50px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    -webkkit-transition: 0.3s;
}

.member:hover .fab {
    opacity: 1;
    visibility: visible;
}

.team-content {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 1px;
    right: 4px;
    height: 170px;
    opacity: 0;
    visibility: hidden;
    border: 1px solid #ccc;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: 0.3s;
}

.member:hover .team-content {
    opacity: 1;
    visibility: visible;
    top: 95%;
    margin: none;
}

.team-member:hover member {
    margin-top: 0px;
}

.team-content h3 {
    font-size: 18px;
    font-weight: 700;
    color: #353535;
    padding-top: 30px;
    text-transform: uppercase;
}

.team-content h4 {
    color: #999;
    font-size: 16px;
    font-weight: 600;
    padding: 6px;

}

.team-content p {
    font-size: 14px;
    color: #777;
    font-weight: 400;
    max-width: 250px;
    margin: auto;
}

/* user part */
#user-part {
    padding: 50px 0px;
}

.users {
    background: url(../images/bg-feedback.jpg);
    background-position: center;
    background-size: cover;
    height: 550px;
    width: 100%;
}

.users-icon {
    width: 600px;
    margin: 0px 31%;
}

.users-icon-dp {
    float: left;
    padding: 0px 20px;
}

.users-icon-dp img {
    width: 100%;
}

#mid-img {
    width: 130px;
}

.img-dp {
    width: 100%;
    border-radius: 99px;
}

.user-txt {
    width: 780px;
    height: 245px;
    background: #f1f1f1;
    border-radius: 5px;
    text-align: center;
    margin: 50px 0px 50px 200px;
    position: relative;
}

.user-txt h4 {
    font-size: 18px;
    font-weight: 700;
}

.user-txt span {
    font-size: 14px;
    font-weight: 400;
    color: #777;
}

.user-txt p {
    max-width: 645px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 400px;
    margin: auto;
    padding: 30px 0px;
    color: #777;
}

.user-txt i {
    font-size: 100px;
    color: #f1f1f1;
    position: absolute;
    bottom: -38px;
    left: 45%;
}
